DISCORD_TOKEN=
DISCORD_GUILD_ID=
LOG_LEVEL=INFO
DATA_FILE=online_fix_games.json
CONFIG_FILE=config.json
SYNC_GLOBAL_COMMANDS=false
DEV_AUTORELOAD=true
DEV_RELOAD_INTERVAL=1.0
JSON_GAMES=https://raw.githubusercontent.com/zKauaFerreira/The-Gaming-Rumble/refs/heads/games/online_fix_games.json
JSON_STATS=https://raw.githubusercontent.com/zKauaFerreira/The-Gaming-Rumble/refs/heads/games/stats.json
